@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch+Pop&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    background: linear-gradient(315deg, #8f3636, #d7e1ec);
}

.main-container {
    display: flex;
}

.main-container .icon {
    position: relative;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    padding: 15px;
    font-size: 18px;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px; 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
    content: "";
    height: 8px;
    width: 8px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%) rotate(135deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
    opacity: 1;
    top: -50px;
    pointer-events: auto;
}

.icon:hover span, .icon:hover .tooltip {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.facebook:hover,
.facebook:hover .tooltip,
.facebook:hover .tooltip::before {
    background: #3b5999;
    color: #fff;
}

.twitter:hover,
.twitter:hover .tooltip,
.twitter:hover .tooltip::before {
    background: #000;
    color: #fff;
}

.instagram:hover{
    background: radial-gradient(circle at 30% 107%, 
        #fdf497 0%, 
        #fdf497 5%, 
        #fd5949 45%, 
        #d6249f 60%, 
        #285AEB 90%);
    color: #fff;
}

.instagram:hover .tooltip,
.instagram:hover .tooltip::before {
    background: #e1306c;
    color: #fff;
}

.github:hover,
.github:hover .tooltip,
.github:hover .tooltip::before {
    background: #333333;
    color: #fff;
}

.youtube:hover,
.youtube:hover .tooltip,
.youtube:hover .tooltip::before {
    background: #e92828;
    color: #fff;
}